$breakpoints: (phone: 640px, 
               tablet: 768px, 
               desktop: 1024px);

@mixin media-breakpoint-up($bp, $height: 0) {
    $min: map-get($breakpoints, $bp);
    @if $min
    {
        @if $height == 0
        {
            @media (min-width: $min)
            {
                @content;
            }
        } @else {
            @media (min-width: $min) and (max-height: $height)
            {
                @content;
            }
        }
    } @else {
        @content;
    }
}