$breakpoints: (phone: 640px, 
               tablet: 768px, 
               desktop: 1024px);

@mixin media-breakpoint-up($bp) {
    $min: map-get($breakpoints, $bp);
    @if $min
    {
        @media (min-width: $min)
        {
            @content;
        }
    } @else {
        @content;
    }
}