$white: #fff;
$black: #000;
$red: #ff0051;

$light-purple-lighter: #f4ecff;
$light-purple: #e4d2ff;
$light-purple-darker: #caaef2;

$dark-purple-lighter: #8456ff;
$dark-purple: #7e24fa;
$dark-purple-darker: #6624d2;

$purple-gradient: linear-gradient(45deg, $dark-purple, $light-purple-darker);

$form-border-radius: 5px;
