@import "../../../styles/global.scss";

.SubmitButton
{
    padding: 1.25rem;
    border: none;
    background: $dark-purple;
    color: $white;
    border-radius: 0 0 10px 10px;
    font-size: 1.25rem;
    font-weight: bold;
    transition: background 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    cursor: pointer;

    &:hover
    {
        background: $dark-purple-lighter;
    }

    &:active
    {
        background: $dark-purple-darker;
    }

    &:focus
    {
        background: $dark-purple-lighter;
        box-shadow: 0 0 20px rgba($black, 0.5);
        position: relative;
        z-index: 1;
        outline: 0;
    }
    svg
    {
        fill: $white;
        height: 1.25rem;
        animation: spin1 1s infinite linear;
    }
}

@keyframes spin1 {
    0% {
    -moz-transform:rotate(320deg);
    -webkit-transform:rotate(320deg);
    -o-transform:rotate(320deg);
    -ms-transform:rotate(320deg);
    }
    100% {
    -moz-transform:rotate(680deg);
    -webkit-transform:rotate(680deg);
    -o-transform:rotate(680deg);
    -ms-transform:rotate(680deg); 
    }
  }