@import "../../../styles/global.scss";

.SubmitButton
{
    padding: 1rem;
    border: none;
    background: $dark-purple;
    color: $white;
    @include border-radius(0 0 $form-border-radius $form-border-radius);
    font-size: 1.1rem;
    font-weight: bold;
    @include transition(background, 0.3s, cubic-bezier(0.445, 0.05, 0.55, 0.95));
    cursor: pointer;

    &:hover
    {
        background: $dark-purple-lighter;
    }

    &:active
    {
        background: $dark-purple-darker;
    }

    &:focus
    {
        background: $dark-purple-lighter;
        @include box-shadow(0, 0, 20px, rgba($dark-purple, 0.5));
        position: relative;
        z-index: 1;
        outline: 0;
    }
    svg
    {
        fill: $white;
        height: 1.25rem;
        animation: spin1 1s infinite linear;
    }
}

@keyframes spin1 {
    0% {
    -moz-transform:rotate(320deg);
    -webkit-transform:rotate(320deg);
    -o-transform:rotate(320deg);
    -ms-transform:rotate(320deg);
    }
    100% {
    -moz-transform:rotate(680deg);
    -webkit-transform:rotate(680deg);
    -o-transform:rotate(680deg);
    -ms-transform:rotate(680deg); 
    }
  }