@import "../../styles/global.scss";

.LoginPanel
{
    background: $light-purple-lighter;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    flex: 1 1 300px;
    position: relative;
    padding-top: 10.5rem;

    @include media-breakpoint-up(desktop)
    {
        padding-top: 25vh;
    }
    @include media-breakpoint-up(desktop, 680px)
    {
        padding-top: 10vh;
    }

}