@import "global.scss";

html {
    position: relative;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-size-adjust: 100%;
    text-rendering: optimizeLegibility;

    font-size: 16px;
    /* iphone 6+, 6s+, 7+, 8+ */
    @include media-breakpoint-up(phone-big)
    {
      font-size: 14px;
    }

    @include media-breakpoint-up(desktop)
    {
      font-size: 18px;
    }
}

html,
body {
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

#app
{
  display: flex;
  flex: 1;
}