@import "../../styles/global.scss";

.LoginPanel {
  background: $light-purple-lighter;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  flex: 1 1 340px;
  position: relative;

  @include media-breakpoint-up(desktop) {
    padding-top: 25vh;
  }
  @include media-breakpoint-up(desktop-small) {
    padding-top: 10vh;
  }

  .Errors {
    position: absolute;
    left: 50%;
    @include transform(translate(-50%, 100%));
    bottom: -0.5rem;

    @include media-breakpoint-up(desktop-small) {
      position: relative;
      @include transform(none);
      top: 0;
      margin-top: 1rem;
    }
  }
}
