@import "../../styles/global.scss";

.CustomCheckbox
{
    margin-top: 4rem;
    @include media-breakpoint-up(desktop)
    {
        margin-top: 2rem;
    }
    input
    {
        position: absolute;
        opacity: 0;
    }
    
    label {
        cursor: pointer;
        position: relative;
        color: $dark-purple;
        font-weight: bold;
        padding-left: 1.75rem;
    }

    label::before,
    label::after
    {
        content: ' ';
        position: absolute;
        box-sizing: border-box;
    }

    label::after
    {
        @include border-radius(3px);
        top: 6px;
        left: 4px;
        height: 12px;
        width: 12px;
        
        @include media-breakpoint-up(desktop)
        {
            top: 7px;
            left: 4px;
            height: 14px;
            width: 14px;
        }
    }

    label::before
    {
        top: 2px;
        left: 0;
        height: 20px;
        width: 20px;
        @include border-radius(4px);
        border: 2px solid $dark-purple;
        @include media-breakpoint-up(desktop)
        {
            height: 22px;
            width: 22px;
            top: 3px;
        }
    }

    input:focus + label::before
    {
        @include box-shadow(0, 0, 8px, rgba($dark-purple, 0.5));
    }

    input:checked + label::after
    {
        background-color: $dark-purple;
    }
}