@import "../../../styles/global.scss";

.Input {
  input {
    width: 100%;
    text-align: center;
    font-size: 1.1em;
    font-weight: bold;
    padding: 0.9rem;
    background: $white;
    border: 2px solid white;
    color: $dark-purple;
    -webkit-appearance: none;
    margin: 0;
    @include border-radius(0);

    @include media-breakpoint-up(desktop) {
      font-size: 1.1rem;
      padding: 1rem;
    }
    &:focus {
      @include box-shadow(0, 0, 20px, rgba($dark-purple, 0.5));
      position: relative;
      z-index: 1;
      outline: 0;
    }
    &::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: $light-purple-darker;
      opacity: 1; /* Firefox */
    }

    &:-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: $light-purple-darker;
    }

    &::-ms-input-placeholder {
      /* Microsoft Edge */
      color: $light-purple-darker;
    }

    &.invalid {
      color: $red;
      border-color: $red !important;
    }
  }

  &:first-child input {
    @include border-radius($form-border-radius $form-border-radius 0 0);
    border-bottom: 2px solid $light-purple-lighter;
  }
}
