@import "../../../styles/global.scss";

.SocialLink {
  display: block;
  background: $light-purple;
  height: 2.25rem;
  width: 2.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 0.65rem;
  @include transition(background, 0.3s, cubic-bezier(0.445, 0.05, 0.55, 0.95));

  &:hover {
    background: $light-purple-lighter;
  }
  &:active {
    background: $light-purple-darker;
  }
  &:focus {
    background: $light-purple-lighter;
    outline: none;
    @include box-shadow(0, 0, 20px, rgba($dark-purple, 0.5));
  }
  svg {
    width: 16px;
    fill: $dark-purple;
  }
}
