@import "../../../styles/global.scss";

.SocialLink
{
    display: block;
    background: $light-purple;
    padding: 9px;
    border-radius: 50%;
    margin: 0.65rem;

    svg
    {
        width: 18px;
        fill: $dark-purple;
    }
}