@import "../../styles/global.scss";

.LogoutPanel {
  background: $dark-purple;
  color: $white;
  display: flex;
  flex: 1;
  justify-content: center;
  margin-top: -6.5rem;
  z-index: 1;

  @include media-breakpoint-up(desktop) {
    margin-top: 0;
    align-items: center;
  }

  &__Content {
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    @include media-breakpoint-up(desktop) {
      height: 50vh;
    }
  }

  &__Text:focus {
    outline: none;
  }

  h2 {
    margin-bottom: 0;
    margin-top: 0;
  }
  h3 {
    margin-top: 0;
    font-weight: 600;
  }
}
